
{{ define "main" }}

<section class="container">
  <div class="row">
    <aside class="col-md-3">

        <nav >
          <div class="row">
            <h2> Conteúdo do post</h2>

              {{.TableOfContents}}
      
          </div>


          <div class="row">
            <h2>Tutoriais desse módulo</h2>
            {{ partial "nav" . }}
          </div>

          <div class="row">
            <h2>Github</h2>
            {{ partial "github" . }}
          </div>


          
        </nav>

        <!--CODIGO CORRIGIDO-->
 



      <!-- <nav>
        <a href="/html/">HTML</a> |
        <a href="/css/">CSS</a> |
        <a href="/js/">JavaScript</a> |
        <a href="/jquery/">jQuery</a>
      </nav> -->
    </aside>

    <article class="col-md-9">

      {{.Content}}
    
    </article>

  </div>

  
 
        

</section>

 


{{end}}
