<footer class="container-lg border-top">
    <div class="row justify-content-md-center text-center p-3">
        <div class="col-md-auto">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img
                    alt="Creative Commons License" style="border-width:0"
                    src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-auto text-center">
            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Vivendo a tecnologia</span>{{" "}}
            <a xmlns:cc="http://creativecommons.org/ns#" href="vivendo.tech" property="cc:attributionName" rel="cc:attributionURL">João Antônio Marcolan</a>{{" "}}
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
            Based on a work at{{" "}}
            <a xmlns:dct="http://purl.org/dc/terms/" href="vivendo.tech" rel="dct:source">vivendo.tech</a>
        </div>
    </div>
</footer>