<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    

    <link rel="stylesheet" type="text/css" href="/stilo.css" media="screen" />
    <script src="/navbar.js"></script>  
    {{ template "_internal/google_analytics.html" . }} 

    <script data-ad-client="ca-pub-5400208836705527" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

