<!DOCTYPE html>
<html lang="pt-br">
{{partial "headers" . }}
<body>
    {{ partial "navbar" . }}
    {{ partial "nav_index" . }}
    <main class="container-lg border-top">
        {{ range .Site.Sections }}
        {{ if gt (len .Pages) 0 }}
        <div class="p-3">
            <div class="universo-title"><a href="{{.Permalink}}">{{ .Title | safeHTML | truncate 25 }}</a><a class="btn link" data-clipboard-text="{{.Permalink}}"><i class="fas fa-link"></i></a></div>
            {{ partial "cards" . }}
        </div>
        {{ end }}
        {{ end }}
    </main>
    {{ partial "footer" . }}
    <script>
        new ClipboardJS('.btn');
    </script>
</body>
</html>