/*
* Style 
* --------------------------------------------------
*/

.header-image{
    background-image:url(/site_headrr.png);
    /* background-size: auto; */
    background-position:center;
    height:30rem;
    display:flex;
    align-items:center;
    margin-top: -100px;
    
}

/*
 * caixa de apresentação
 */
 .jumbotron{
    margin-top: 10px;
    background-color: rgba(28, 4, 59, 0.7);
    color: rgb(22, 21, 21);
}


html,
body {
    overflow-x: hidden; 
    
}


body {
    padding-top: 100px; 
}

footer {
    /* padding: 30px 0;
    width: 100%; */
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem; */
    background-color: #efefef;
    text-align: center;
}

.twitch,
.twitch:hover,
.twitch:active,
.twitch:visited,
.twitch:focus {
    background-color: #503484;
    border-color: #503484;
}
/* .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  } */
/*
 * imagem do logo (apenas o vivendo tech opção de tirar)
 */
.navbar-brand {
    font-size: 19px;
}

/*
 * fundo do home/videos/linguagens

tem que usar https://getbootstrap.com/docs/4.0/utilities/flex/

*/


 
.navbar-container {
    /* background-color: rgba(28, 4, 59, 0.7); */
    
    font-family: fantasy; 
    padding: 3px 0 3px 0;
    


}



.navbar.navbar-fixed-top.fixed-theme {
    background-color: rgba(22, 25, 180, 0.7); 
     box-shadow: 0 0 3px rgba(10, 10, 10, 0.8);

}


/* isso é a transição */
.navbar-brand.fixed-theme {
    font-size: 20px;
    
}

.navbar-container.fixed-theme {
    padding: 0;
    

}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
   
}