a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color:#62167f;
    text-decoration: none;
}

pre {
    padding: 16px;
}

code {
    z-index: 5;
    max-width: 420px;
    max-height: 70vh;
    font-family: monospace;
    border-radius: 2px;
    outline: none;
    counter-reset: step;
    overflow-y: auto;
}


.navbar-brand, .topicos-content > h1 {
    font-size: 2rem;
}

.topicos-content > p, .toc a {
    font-weight: 200;
}

.nav-item, .universo-title {
    font-size: 1.3rem;
}

.nav-item, .universo-title .fas, .universo-title .fab, .toc-top .fas, .toc-top .fab {
    padding: .5rem 0.5rem;
}

.fas, .fab, .universo-title, .card-lista .card .card-footer, .topicos-content > h1  {
    text-transform: uppercase;
    font-weight: 200;
}

.universo-title .fas, .universo-title .fab{
    font-size: 0.8rem;
    vertical-align: text-bottom;
}

.link {
    color: #aaaaaa !important;
    cursor: pointer;
}

.link :hover {
    color: black !important;
}

.nav-scroll .navbar-nav .nav-item {
    text-transform: uppercase;
    font-size: 1rem;
}

.card {
    border: none;
}

.card-deck .card {
    margin-left: 0;
}

.card-lista .card {
    margin-left: 0;
    margin-bottom: 15px;
    border-bottom: #aaaaaa 2px solid;
    border-radius: 0;
    min-height: 100%;
}

.card-lista .col-sm-4 {
    padding-right: 15px;
    padding-left: 15px;
}

.card-lista .card .card-body {
    padding: 1.25rem 0;
}

.card-lista .card .card-footer {
    padding: .75rem 0;
    border-top: none;
    background-color: transparent;
    font-size: 1rem;
}

.toc nav {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}

.toc ul {
    border-left: 1px solid #eee;
    list-style-type: none;
}

.toc a {
    font-size: 1rem;
    text-transform: capitalize;
}

@media (max-width: 991.98px) {
    .nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
      }

    .nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
}

@media (min-width: 991.98px) {
    .card-lista {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .card-lista .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
        max-width: 22rem;
    }
}
